.class
.classpath
.project
.settings

.idea
*.iml
*.ipr
*.iws

bin
target

.clover
.fbprefs
*.orig

dependency-reduced-pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
.patch
src/.vscode/launch.json

